@charset "UTF-8";

@media screen and (min-width:768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    span#menu1 {
        display: none;
    }

    menu {
        display: block;
        border-bottom: 1px solid lightgray;
    }

    menu {
        text-align: center;
    }
    menu > ul > li {
        display: inline-block;
    }

    section#home {
        width: 70%;
        padding: 30px;
        border-bottom: 1px solid lightgray;
    }

    section#home > div#text1 {
        line-height: 1.5em;
        text-indent: 30px;
    }

    section#home > div#text1 > h1 {
        padding-bottom: 40px;
        font-variant: small-caps;
        font-size: 2em;
    }

    section#home > div#text1 > p {
        columns: 2;

    }

    section#proposta {
       width: 100%;

    }

    section#proposta > div#text2 {
        width: 100%;
        display: block;
    }

    section#proposta > div#text2 > h1 {
        font-size: 3em;
    }

    section#proposta > div#text2 > p {
        font-size: 2em;
    }

    section#inovação {
        margin: auto;
        width: 70%;
    }

    section#inovação > div.quadrado {
        display: inline-block;
        padding: 50px;
    }
}